/* dark style */
$mainColor: #3676F5;
$mainHoverColor: #4C8CF9;
$mainActiveColor: #1F5AD2;
$secColor: rgba(31, 90, 210, 0.1);
$mainColor2: #F74020;//

$disabledBG: #1c1c1c;
$disabledColor: rgba(255, 255, 255, 0.2);

$backgroundColor: #222;
$backgroundColor2: #1c1c1c;
$backgroundColor3: #1F1F1F;
$backgroundColor4: #131313;
$backgroundColor5: rgba(54,118,245,0.25);
$backgroundColor6: #131313;

$borderColor: rgba(255, 255, 255, 0.1);
$borderColor2: rgba(255, 255, 255, 0.2);
$borderColor3: #C1C1CF; //

$fontColor: rgba(255, 255, 255, 0.85);
$fontColor2: rgba(255, 255, 255, 0.65);
$fontColor3: rgba(255, 255, 255, 0.45);
$fontColor4: rgba(255, 255, 255, 0.2);

$successColor: #25AA19;
$warningColor: #D39417;
$errorColor: #C41A1F;
$dangerColor: #C41A1F;
$infoColor: #3676F5;
$runningColor: #3676F5;

$successMsgColor: #25AA19;
$warningMsgColor: #D39417;
$errorMsgColor: #C41A1F;
$infoMsgColor: #3676F5;

$successMsgBG: #262B26;
$warningMsgBG: #2C2926;
$errorMsgBG: #2C2526;
$infoMsgBG: #242C3A;

$menuActiveFont: rgba(255, 255, 255, 0.85);
$menuActiveBackground: rgba(54,118,245,0.25); //

$crumbsfont: rgba(255, 255, 255, 0.45);
$crumbsfontActive: rgba(255, 255, 255, 0.65);

$backfont: rgba(255, 255, 255, 0.45);


$tableHoverBGColor: rgba(31, 31, 31, 0.5);
$tableFixedBoxShadow: inset 6px 0px 12px -7px rgba(46,46,68,0.4), inset 5px 0px 6px -5px rgba(46,46,68,0.6), inset 1px 0px 2px -2px rgba(46,46,68,0.8);
$tableFixedBoxShadow2: inset -6px 0px 12px -7px rgba(46,46,68,0.4), inset -5px 0px 6px -5px rgba(46,46,68,0.6), inset -1px 0px 2px -2px rgba(46,46,68,0.8);


$paginationTextColor: rgba(255, 255, 255, 0.65);
$paginationInputBorderColor: rgba(255, 255, 255, 0.2);

$boxShadowBackground: rgba(17, 17, 17, 0.15);

$cardTitBG: #1F1F1F;

$labelColor: rgba(255, 255, 255, 0.65);

$selectHoverColor2: #4C8CF9;

$buttonPlainColor: #fff;
$buttonActiveColor: #134BCF;
$buttonActiveBg: rgba(54,118,245,0.1);

$sliderButtonBorder: #ffffff;

$loadingBGColor: rgba(46,46,68,0.25);
$loadingTextColor: #fff;

$checkboxDisabledBG: rgba(193,193,207,0.2);
