/* light style 亮色主题 */
$mainColor: #2167F4;
$mainHoverColor: #4D8EFF;
$mainActiveColor: #134BCF;
$secColor: rgba(33, 103, 244, 0.1);
$mainColor2: #F74020;

$disabledBG: #F2F2FB;
$disabledColor: #D1D1E0;

$backgroundColor: #fff;
$backgroundColor2: #F2F2FB;
$backgroundColor3: #F7F7FD;
$backgroundColor4: #EBEBF7;
$backgroundColor5: rgba(33,103,244,0.1);
$backgroundColor6: #fff;

$borderColor: #EBEBF7;
$borderColor2: #D1D1E0;
$borderColor3: #C1C1CF;

$fontColor: #2E2E44;
$fontColor2: #5D5D70;
$fontColor3: #9D9DAD;
$fontColor4: #D1D1E0;

$successColor: #28C41A;
$warningColor: #E6A23C;
$errorColor: #DA3B18;
$dangerColor: #DA3B18;
$infoColor: #2167F4;
$runningColor: #2167F4;

$successMsgColor: #28C41A;
$warningMsgColor: #E6A23C;
$errorMsgColor: #DA3B18;
$infoMsgColor: #2167F4;

$successMsgBG: #E3FAE1;
$warningMsgBG: #FFF6E6;
$errorMsgBG: #FFE6E6;
$infoMsgBG: #E4ECFD;

$menuActiveFont: #2E2E44;
$menuActiveBackground: rgba(46, 46, 68, 0.08);

$crumbsfont: #9D9DAD;
$crumbsfontActive: #5D5D70;

$backfont: #9D9DAD;

$tableHoverBGColor: rgba(247, 247, 253, 0.5);
$tableFixedBoxShadow: inset 6px 0px 12px -7px rgba(46,46,68,0.1), inset 5px 0px 6px -5px rgba(46,46,68,0.12), inset 1px 0px 2px -2px rgba(46,46,68,0.16);
$tableFixedBoxShadow2: inset -6px 0px 12px -7px rgba(46,46,68,0.1), inset -5px 0px 6px -5px rgba(46,46,68,0.12), inset -1px 0px 2px -2px rgba(46,46,68,0.16);

$paginationTextColor: #5D5D70;
$paginationInputBorderColor: #D1D1E0;

$boxShadowBackground: rgba(46, 46, 68, 0.08);

$cardTitBG: #F7F7FD;

$labelColor: #5D5D70;

$selectHoverColor2: #4D8EFF; /* 地域选择框 */

$buttonPlainColor: #2167F4;
$buttonActiveColor: #134BCF;
$buttonActiveBg: rgba(33,103,244,0.1);


$sliderButtonBorder: rgba(46, 46, 68, 0.1);

$loadingBGColor: rgba(46,46,68,0.25);
$loadingTextColor: #fff;

$checkboxDisabledBG: #F2F2FB;
